* {
    margin: 0;
    padding: 0;
}

.layout {
    min-height: 100vh;
    background-color: #000000;
    font-family: 'Helvetica Neue';
}

.navContainer {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100vw;
    min-height: 2.5vh;
    z-index: 100;
}

.navItems {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 2vh;
    padding-bottom: 2.5vh;
    width: calc(175px + 40vw);
    background-color: #222222;
    box-shadow: 0px 0px 50px black;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
}

nav a {
    font-size: calc(10px + 2vmin);
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 0px 0px 3px black;
    user-select: none;
    &:hover {
        color: lightgray;
    }
}

.title {
    min-width: 100vw;
    min-height: 100vh;
    font-size: calc(50px + 5vmin);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    text-shadow: 0px 0px 80px black;
    user-select: none;
}

.photos ul {
    list-style-type: none;
    padding: 2.5vw;
    padding-top: 4vh;
    padding-bottom: 15vh;
    display: flex;
    flex-wrap: wrap;
    gap: calc(5px + 1vw);
    align-items: center;
    align-content: center;
    justify-content: center;
}

.small-landscape-img {
    width: calc(70px + 14vw);
}

.large-landscape-img {
    width: calc(70px + 18vw);
}

.small-portrait-img {
    width: calc(70px + 5vw);
}

.large-portrait-img {
    width: calc(70px + 8vw);
}

.socialsContainer {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 4vh;
    width: 100vw;
}

.socialsPill {
    gap: calc(5px + 1vw);
    display: flex;
    align-items: center;
    background-color: #222222;
    padding-top: 1.25em;
    padding-bottom: 1.25em;
    padding-left: 1.75em;
    padding-right: 1.75em;
    border-radius: 20em;
    box-shadow: 0px 0px 50px black;
}

.content {
    padding-top: 15vh;
    padding-left: 15vw;
}

.content h1 {
    font-size: calc(40px + 4vmin);
    color: white;
    padding-bottom: 4vh;
}

.content h2 {
    font-size: calc(10px + 3vmin);
    color: white;
    padding-bottom: 2vh;
}

.content p {
    font-size: calc(12px + 2vmin);
    color: white;
}